<%- include('./partials/header'); %>
<p>易读墨水屏版</p>
<p>版本：<%= version %></p>
<p>帮助文档：<a href="https://uhziel.github.io/yireader/" target="_blank">https://uhziel.github.io/yireader/</a></p>
<p>报告问题：<a href="https://github.com/uhziel/yireader/issues" target="_blank">https://github.com/uhziel/yireader/issues</a></p>
<%- include('./partials/footer'); %>
