<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>设备信息</title>
        <script src="/js/es5-shim@4.5.15/es5-shim.min.js"></script>
        <style>
            body {
                font-size: 12pt;
            }
            .ems li {
                font-size: 1.3em;
            }
            .rems li {
                font-size: 4rem;
            }
        </style>
    </head>
    <body>
        <pre><%= headersText %></pre>
        <pre id="out"></pre>
        <ul class="ems">
            <li>
                One
                <ul>
                    <li>Two</li>
                        <ul>
                            <li>Three</li>
                        </ul>
                </ul>
            </li>
        </ul>
        <ul class="rems">
            <li>
                One
                <ul>
                    <li>Two</li>
                        <ul>
                            <li>Three</li>
                        </ul>
                </ul>
            </li>
        </ul>
        <div>
            <% var absoluteLengthUnits = [
                ['2.54cm', '2.54cm(1in)'],
                ['25.4mm', '25.4mm(1in)'],
                ['1in', '1in'],
                ['72pt', '72pt(1in)'],
                ['96px', '96px'],
                ['300px', '300px'],
            ];%> 
            <% absoluteLengthUnits.forEach(unit => { %>
                <div style="width: <%= unit[0] %>; height: 1.5em; background: black; color: white; margin: 2px 0;"><%= unit[1] %></div>    
            <% }); %> 
        </div>
        <div style="background: black; color: white; margin: 0; padding: 0;">一二三四五六七八九零一二三四五六七八九零一二三四五六七八九零</div>
        <script>
            function hasLocalStorage() {
                var has = false;
                var readFromLocal = false;
                var real = ''
                var expected = 'bar';
                if (window.localStorage) {
                    real = localStorage.getItem('foo');
                    if (!real) {  
                        readFromLocal = false;   
                        localStorage.setItem('foo', expected);
                        real = localStorage.getItem('foo');
                    } else {
                        readFromLocal = true;
                    }

                    has = (expected === real);
                }

                return 'api(' + has + ') local(' + readFromLocal + ') ' + real;
            }
            function hasJSON() {
                return window.JSON ? true : false;
            }
            window.onload = function () {
                var out = document.getElementById("out");
                function append(content) {
                    out.textContent += content + "\n";
                }
                append("window.devicePixelRatio: " + window.devicePixelRatio);
                append("screen.width: " + screen.width);
                append("screen.height: " + screen.height);
                append("document.documentElement.clientWidth: " + document.documentElement.clientWidth);
                append("document.documentElement.clientHeight: " + document.documentElement.clientHeight);
                append("[layout viewport]window.innerWidth: " + window.innerWidth);
                append("[layout viewport]window.innerHeight: " + window.innerHeight);
                append("window.outerWidth: " + window.outerWidth);
                append("window.outerHeight: " + window.outerHeight);

                append("localStorage: " + hasLocalStorage());
                append("JSON: " + hasJSON());
            }
        </script>
    </body>
</html>
    