<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>易读</title>
        <script src="/js/es5-shim@4.5.15/es5-shim.min.js"></script>
        <script defer src="/js/ink.js"></script>
    </head>
    <body>
